# Core
django==4.2.*
djangorestframework==3.15.2
djangorestframework-simplejwt[blacklist]==5.5.1
django-cors-headers==4.4.0
django-environ==0.11.2
django-filter==24.3
python-dotenv==1.0.1
python-decouple==3.8
gunicorn==22.0.0

# Database & Geospatial
psycopg2-binary==2.9.9

# Background tasks
celery==5.4.0
redis==5.0.8
django-celery-beat==2.6.0
django-celery-results==2.5.1

# ML
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
joblib==1.4.2

# Notifications & Integrations
requests==2.32.3
httpx==0.25.1
twilio==9.2.3
sendgrid==6.11.0
africastalking
django-anymail==10.1

# File/media
Pillow==10.4.0
django-storages==1.14.4
boto3==1.35.16

# Server
gevent==23.9.1

# Dev/Test
pytest-django==4.8.0
factory-boy==3.3.1
coverage==7.6.1

django-celery-beat==2.6.0
django-celery-results==2.5.1